# 코로나 감염 현황 API

- 보건복지부
- https://www.data.go.kr/data/15043376/openapi.do

- 코로나19감염증으로 인한 일별 확진자, 완치자, 치료중인환자, 사망자등에 대한 현황자료

- 	01.보건복지부_OpenAPI활용가이드_코로나바이러스감염증_감염현황 조회 서비스_v0.3 (11).docx 참고 하여 작성


- 보건복지부 감염 현황 api의 결과 == 질병관리청 확진자 수 비교해서 같으면 사용하기 


- 날짜 / 확진자 수 / 누적 확진자 수 / 사망자 수 / 누적 사망자 수 / 검사자 수 / 누적 검사자 수

- resultCode	결과코드
- resultMsg	결과메세지
- numOfRows	한 페이지 결과 수
- pageNo	페이지 수
- totalCount	전체 결과 수
- SEQ	게시글번호(감염현황 고유값)
- **STATE_DT	기준일**
- STATE_TIME	기준시간
- **DECIDE_CNT	확진자 수**
- CLEAR_CNT	격리해제 수
- EXAM_CNT	검사진행 수
- **DEATH_CNT	사망자 수**
- CARE_CNT	치료중 환자 수
- RESUTL_NEG_CNT	결과 음성 수
- ACC_EXAM_CNT	누적 검사 수
- ACC_EXAM_COMP_CNT	누적 검사 완료 수
- ACC_DEF_RATE	누적 확진률
- CREATE_DT	등록일시분초
- UPDATE_DT	수정일시분초

In [1]:
import urllib.request
import json
import pandas as pd
from datetime import datetime,timedelta
import requests
import xmltodict

## 코로나19감염증으로 인한 일별 확진자, 완치자, 치료중인환자, 사망자등에 대한 현황자료
url_base = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson'
url_serviceKey = 'zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D'
url_numOfRows = '1000'
url_start_date = '20200120'
url_end_date = datetime.today().strftime('%Y%m%d') # 현재시간 기준으로 데이터 불러오기

# Call Back URL + 인증키 +  페이지 번호(= 1) + 한 페이지 결과 수 + 데이터 생성일 시작 범위 + 데이터 생성일 종료 범위
url = url_base + '?serviceKey=' + url_serviceKey + '&pageNo=1' + '&num0fRows=' + url_numOfRows + '&startCreateDt=' + url_start_date + '&endCreateDt=' + url_end_date
url

'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=zDi7%2BxdkbZUvy%2Bw2jREuuky26qthb6FliCJd4uJTY8qOo02u2VFch2k2zvE0GKtsF8nLCKxd7WqoNvU%2BuvCaUQ%3D%3D&pageNo=1&num0fRows=1000&startCreateDt=20200120&endCreateDt=20211110'

In [2]:
req = requests.get(url).content

xmlObject = xmltodict.parse(req)
dict_data = xmlObject['response']['body']['items']['item']

df_conf = pd.DataFrame(dict_data)

In [3]:
df_conf

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
0,2.6095435267,16212873,14692493,29751,350658,2021-11-09 09:24:09.116,2998,383407,1520380,14309086,692,20211109,00:00,null
1,2.6067427885,16160833,14642488,30915,347797,2021-11-08 09:28:41.663,2980,381692,1518345,14260796,691,20211108,00:00,2021-11-09 09:30:27.242
2,2.5963974058,16130873,14633122,30166,346801,2021-11-07 09:29:07.692,2967,379934,1497751,14253188,690,20211107,00:00,2021-11-08 09:08:05.416
3,2.5822791698,16099187,14627001,29188,345566,2021-11-06 09:37:28.182,2956,377710,1472186,14249291,689,20211106,00:00,2021-11-08 09:07:48.135
4,2.5757854638,16051668,14576641,29290,343237,2021-11-05 09:27:51.19,2936,375463,1475027,14201178,688,20211105,00:00,2021-11-07 09:44:48.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,6.896551724,29,29,2,0,2020-01-24 00:00:00.000,0,2,0,27,5,20200124,00:00,2021-10-07 10:30:51.51
655,4,25,25,1,0,2020-01-23 09:00:00.000,0,1,0,24,4,20200123,09:00,2021-10-07 10:30:51.51
656,4.761904762,21,21,1,0,2020-01-22 12:00:00.000,0,1,0,20,3,20200122,12:00,2021-10-07 10:30:51.51
657,6.666666667,15,15,1,0,2020-01-21 09:00:00.000,0,1,0,14,2,20200121,09:00,2021-10-07 10:30:51.51
658,25,4,4,1,0,2020-01-20 17:00:00.000,0,1,0,3,1,20200120,17:00,2021-10-07 10:30:51.51

In [4]:
# 20210531 데이터 없음
df_21_05 = df_conf[df_conf['stateDt'].str.contains('202105')]
df_21_05.head(10)

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
162,1.4568051768,9761156,9633203,7561,130817,2021-05-30 00:00:00.0,1959,140337,127953,9492866,498,20210531,00:00,2021-10-14 13:48:56.821
163,1.454165571,9747612,9621119,7576,130374,2021-05-30 00:00:00.000,1957,139907,126493,9481212,497,20210530,00:00,2021-10-07 10:30:51.51
164,1.450883775,9733588,9609798,7745,129731,2021-05-29 00:00:00.000,1951,139427,123790,9470371,496,20210529,00:00,2021-10-07 10:30:51.51
165,1.449896399,9702453,9579581,8198,128750,2021-05-28 00:00:00.000,1946,138894,122872,9440687,495,20210528,00:00,2021-10-07 10:30:51.51
166,1.449298446,9665690,9543031,8195,128169,2021-05-27 00:00:00.000,1943,138307,122659,9404724,494,20210527,00:00,2021-10-07 10:30:51.51
167,1.447963934,9629455,9508386,8176,127562,2021-05-26 00:00:00.000,1940,137678,121069,9370708,493,20210526,00:00,2021-10-07 10:30:51.51
168,1.445529521,9592726,9475628,8052,126983,2021-05-25 00:00:00.000,1938,136973,117098,9338655,492,20210525,00:00,2021-10-07 10:30:51.51
169,1.446605861,9553612,9432908,8105,126418,2021-05-24 00:00:00.000,1934,136457,120704,9296451,491,20210524,00:00,2021-10-07 10:30:51.51
170,1.443871791,9536298,9414063,8165,125831,2021-05-23 00:00:00.000,1931,135927,122235,9278136,490,20210523,00:00,2021-10-07 10:30:51.51
171,1.439286846,9520965,9403407,8392,125024,2021-05-22 00:00:00.000,1926,135342,117558,9268065,489,20210522,00:00,2021-10-07 10:30:51.51

In [5]:
# 불러온 데이터 중 하루에 두 번 이상 데이터가 존재하는 경우를 대비해(오전, 오후), 하루 중 마지막에 발표한 데이터로 중복 처리
df_conf = df_conf.drop_duplicates(['stateDt'])

# 데이터를 날짜순으로 오름차순 정리
df_conf_1 = df_conf.sort_values(by='stateDt')
df_conf_1

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
658,25,4,4,1,0,2020-01-20 17:00:00.000,0,1,0,3,1,20200120,17:00,2021-10-07 10:30:51.51
657,6.666666667,15,15,1,0,2020-01-21 09:00:00.000,0,1,0,14,2,20200121,09:00,2021-10-07 10:30:51.51
656,4.761904762,21,21,1,0,2020-01-22 12:00:00.000,0,1,0,20,3,20200122,12:00,2021-10-07 10:30:51.51
655,4,25,25,1,0,2020-01-23 09:00:00.000,0,1,0,24,4,20200123,09:00,2021-10-07 10:30:51.51
654,6.896551724,29,29,2,0,2020-01-24 00:00:00.000,0,2,0,27,5,20200124,00:00,2021-10-07 10:30:51.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2.5757854638,16051668,14576641,29290,343237,2021-11-05 09:27:51.19,2936,375463,1475027,14201178,688,20211105,00:00,2021-11-07 09:44:48.33
3,2.5822791698,16099187,14627001,29188,345566,2021-11-06 09:37:28.182,2956,377710,1472186,14249291,689,20211106,00:00,2021-11-08 09:07:48.135
2,2.5963974058,16130873,14633122,30166,346801,2021-11-07 09:29:07.692,2967,379934,1497751,14253188,690,20211107,00:00,2021-11-08 09:08:05.416
1,2.6067427885,16160833,14642488,30915,347797,2021-11-08 09:28:41.663,2980,381692,1518345,14260796,691,20211108,00:00,2021-11-09 09:30:27.242
0,2.6095435267,16212873,14692493,29751,350658,2021-11-09 09:24:09.116,2998,383407,1520380,14309086,692,20211109,00:00,null

In [6]:
# 공공데이터포털의 일일값의 합과 누적값에 차이 있어
# 명확한 가이드라인이 주어지지 않으면 누적값을 차분에 계산

# 숫자여야 할 열(누적확진자)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,7] = df_conf_1.iloc[:,7].apply(pd.to_numeric)

# 누적확진자를 일일확진자로 변경
# 전날 decideCnt - 당일 decideCnt = 당일 확진자 수
df_conf_1['daily_decideCnt'] = df_conf_1['decideCnt'].diff()


# 숫자여야 할 열(누적 사망자 수)이 object로 되어있으므로 숫자로 형변환
df_conf_1.iloc[:,6] = df_conf_1.iloc[:,6].apply(pd.to_numeric)

# 누적 사망자를 일일 사망자로 변경
# 전날 deathCnt - 당일 deathCnt = 당일 사망자 수
df_conf_1['daily_deathCnt'] = df_conf_1['deathCnt'].diff()


# 숫자여야 할 열(누적검사수)이 object로 되어있으므로 숫자로 형변환 필요
df_conf_1.iloc[:,1] = df_conf_1.iloc[:,1].apply(pd.to_numeric)
# 누적검사수를 일일검사수로 변경
df_conf_1['daily_ExamCnt'] = df_conf_1['accExamCnt'].diff()

# 날짜, 확진자 수, 누적 확진자 수, 사망자 수, 누적 사망자 수, 검사자 수, 누적 검사자 수
# 1차 백신 접종자 수, 누적 1차 백신 접종자 수, 2차 백신 접종자 수, 누적 2차 백신 접종자 수
df_conf_2 = df_conf_1[['stateDt','daily_decideCnt','decideCnt','daily_deathCnt','deathCnt','daily_ExamCnt','accExamCnt']]

df_conf_2.columns = ['날짜','확진자 수','누적 확진자 수','사망자 수','누적 사망자 수','검사자 수','누적 검사자 수']

In [7]:
df_conf_2

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
658  20200120     NaN         1    NaN         0      NaN         4
657  20200121     0.0         1    0.0         0     11.0        15
656  20200122     0.0         1    0.0         0      6.0        21
655  20200123     0.0         1    0.0         0      4.0        25
654  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211105  2343.0    375463   20.0      2936  50436.0  16051668
3    20211106  2247.0    377710   20.0      2956  47519.0  16099187
2    20211107  2224.0    379934   11.0      2967  31686.0  16130873
1    20211108  1758.0    381692   13.0      2980  29960.0  16160833
0    20211109  1715.0    383407   18.0      2998  52040.0  16212873

[659 rows x 7 columns]

In [8]:
df_conf_2.loc[df_conf_2['날짜'] == '20200120', '확진자 수'] = '1'
df_conf_2

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

           날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
658  20200120       1         1    NaN         0      NaN         4
657  20200121     0.0         1    0.0         0     11.0        15
656  20200122     0.0         1    0.0         0      6.0        21
655  20200123     0.0         1    0.0         0      4.0        25
654  20200124     1.0         2    0.0         0      4.0        29
..        ...     ...       ...    ...       ...      ...       ...
4    20211105  2343.0    375463   20.0      2936  50436.0  16051668
3    20211106  2247.0    377710   20.0      2956  47519.0  16099187
2    20211107  2224.0    379934   11.0      2967  31686.0  16130873
1    20211108  1758.0    381692   13.0      2980  29960.0  16160833
0    20211109  1715.0    383407   18.0      2998  52040.0  16212873

[659 rows x 7 columns]

In [9]:
df_conf_2.head(50)

           날짜  확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
658  20200120      1         1    NaN         0      NaN         4
657  20200121    0.0         1    0.0         0     11.0        15
656  20200122    0.0         1    0.0         0      6.0        21
655  20200123    0.0         1    0.0         0      4.0        25
654  20200124    1.0         2    0.0         0      4.0        29
653  20200125    0.0         2    0.0         0     18.0        47
652  20200126    1.0         3    0.0         0      9.0        56
651  20200127    1.0         4    0.0         0     28.0        84
650  20200128    0.0         4    0.0         0     53.0       137
649  20200129    0.0         4    0.0         0     71.0       208
648  20200130    3.0         7    0.0         0     67.0       275
647  20200131    4.0        11    0.0         0     60.0       335
646  20200201    1.0        12    0.0         0     36.0       371
645  20200202    3.0        15    0.0         0     58.0       429
644  20200203    0.0        15    0.0         0     61.0       490
643  20200204    1.0        16    0.0         0    117.0       607
642  20200205    5.0        21    0.0         0    107.0       714
641  20200206    3.0        24    0.0         0    171.0       885
640  20200207    0.0        24    0.0         0    245.0      1130
639  20200208    0.0        24    0.0         0    571.0      1701
638  20200209    3.0        27    0.0         0    639.0      2340
637  20200210    1.0        28    0.0         0    436.0      2776
636  20200211    0.0        28    0.0         0    853.0      3629
635  20200212    0.0        28    0.0         0   1445.0      5074
634  20200213    0.0        28    0.0         0    723.0      5797
633  20200214    0.0        28    0.0         0   1057.0      6854
632  20200215    0.0        28    0.0         0    665.0      7519
631  20200216    2.0        30    0.0         0    400.0      7919
630  20200217    0.0        30    0.0         0    252.0      8171
629  20200218    2.0        32    0.0         0   1094.0      9265
628  20200219   34.0        66    0.0         0   1146.0     10411
627  20200220   16.0        82    1.0         1   1750.0     12161
626  20200221   74.0       156    0.0         1   2655.0     14816
625  20200222  190.0       346    2.0         3   4805.0     19621
624  20200223  210.0       556    0.0         3   3012.0     22633
623  20200224  207.0       763    4.0         7   5982.0     28615
622  20200225  130.0       893    1.0         8   8101.0     36716
621  20200226  253.0      1146    3.0        11   9411.0     46127
620  20200227  449.0      1595    1.0        12  11863.0     57990
619  20200228  427.0      2022    1.0        13  12950.0     70940
618  20200229  909.0      2931    3.0        16  14753.0     85693
617  20200301  595.0      3526    1.0        17  11292.0     96985
616  20200302  686.0      4212    6.0        23  12606.0    109591
615  20200303  600.0      4812    5.0        28  16260.0    125851
614  20200304  516.0      5328    4.0        32  10856.0    136707
613  20200305  438.0      5766    3.0        35   9834.0    146541
612  20200306  518.0      6284    7.0        42  18199.0    164740
611  20200307  483.0      6767    2.0        44  13449.0    178189
610  20200308  367.0      7134    6.0        50  10329.0    188518
609  20200309  248.0      7382    1.0        51   8100.0    196618

In [10]:
df_conf_2.tail(20)

          날짜   확진자 수  누적 확진자 수  사망자 수  누적 사망자 수    검사자 수  누적 검사자 수
19  20211021  1441.0    347526   11.0      2709  47275.0  15392004
18  20211022  1438.0    348964   16.0      2725  45378.0  15437382
17  20211023  1508.0    350472   20.0      2745  44087.0  15481469
16  20211024  1421.0    351893   21.0      2766  23510.0  15504979
15  20211025  1190.0    353083    7.0      2773  25493.0  15530472
14  20211026  1272.0    354355   15.0      2788  48958.0  15579430
13  20211027  1945.0    356300    9.0      2797  48876.0  15628306
12  20211028  2111.0    358411   11.0      2808  49880.0  15678186
11  20211029  2121.0    360532    9.0      2817  52596.0  15730782
10  20211030  2104.0    362636   13.0      2830  44915.0  15775697
9   20211031  2061.0    364697   19.0      2849  28365.0  15804062
8   20211101  1685.0    366382    9.0      2858  45238.0  15849300
7   20211102  1588.0    367970   16.0      2874  55885.0  15905185
6   20211103  2668.0    370638   18.0      2892  48342.0  15953527
5   20211104  2482.0    373120   24.0      2916  47705.0  16001232
4   20211105  2343.0    375463   20.0      2936  50436.0  16051668
3   20211106  2247.0    377710   20.0      2956  47519.0  16099187
2   20211107  2224.0    379934   11.0      2967  31686.0  16130873
1   20211108  1758.0    381692   13.0      2980  29960.0  16160833
0   20211109  1715.0    383407   18.0      2998  52040.0  16212873

In [11]:
# 한국 데이터의 틀린 부분 수정 코드
# 공공데이터포털의 오픈API에서 불러오는 데이터에 수정이 있을 경우 삭제 가능
# -> api 수정 되어 삭제(2021.10.07 확인)

"""
conf_dat = pd.DataFrame({"날짜":['20200121','20200122','20200123','20200124','20200125','20200126','20200127','20200128','20200129',
                    '20200130','20200131','20200201','20200202','20200203','20200204','20200205'],
              "확진자 수":[1,0,0,1,0,1,1,0,0,2,5,1,3,0,1,3],
              "누적 확진자 수":[1,1,1,2,2,3,4,4,4,6,11,12,15,15,16,19]})


df_conf_3 = pd.concat([conf_dat, df_conf_2.iloc[6:,]], ignore_index = True)
df_conf_3.head(50)
"""

'\nconf_dat = pd.DataFrame({"날짜":[\'20200121\',\'20200122\',\'20200123\',\'20200124\',\'20200125\',\'20200126\',\'20200127\',\'20200128\',\'20200129\',\n                    \'20200130\',\'20200131\',\'20200201\',\'20200202\',\'20200203\',\'20200204\',\'20200205\'],\n              "확진자 수":[1,0,0,1,0,1,1,0,0,2,5,1,3,0,1,3],\n              "누적 확진자 수":[1,1,1,2,2,3,4,4,4,6,11,12,15,15,16,19]})\n\n\ndf_conf_3 = pd.concat([conf_dat, df_conf_2.iloc[6:,]], ignore_index = True)\ndf_conf_3.head(50)\n'

# 코로나 백신 예방접종 현황 API

- 공공데이터활용지원센터
- https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15077756#tab_layer_detail_function

- 보건복지부 접종자 수 질병관리청 접종자 수 비교해서 같으면 사용하기 

- 날짜 / 1차 백신 접종자 수 / 누적 1차 백신 접종자 수 / 2차 백신 접종자 수 / 누적 2차 백신 접종자 수

- baseDate	통계 기준일자

- sido	지역명칭

- firstCnt	당일 통계(1차 접종)

- secondCnt	당일 통계(2차 접종)

- totalFirstCnt	전체 누적 통계(1차 접종)

- totalSecondCnt	전체 누적 통계(2차 접종)

- accumulatedFirstCnt	    전일까지의 누적 통계 (1차 접종)

- accumulatedSecondCnt	전일까지의 누적 통계 (2차 접종)

In [12]:
# 코로나19 데이터 수집_210628.ipynb, 210510.ipynb 코드는 9월 전 까지만 나옴 
# 왜냐 ? perPage를 3000, 2000으로 설정했기 때문

In [13]:
# 한국의 백신 접종자 수 분석
# https://gunn.kim/post/2020-06-13-seoul-metro-data-openapi/
import urllib.request
import json
import pandas as pd 


perPage = '10000'

url = 'https://api.odcloud.kr/api/15077756/v1/vaccine-stat?serviceKey=SAJ%2FFc5PaHo%2FvmwRQl7j9ul5jp43QfUVR9xuEjZMqoL0B6W%2B%2F%2FRR5JDSY1JN%2BDBIhTDheUhdhBZqR%2FGVOQP%2Btg%3D%3D&page=1&perPage=' + perPage 

response = urllib.request.urlopen(url)
json_str = response.read().decode('utf-8')
json_object = json.loads(json_str)

df_vac = pd.json_normalize(json_object['data'])

is_korea = df_vac['sido'] == '전국'
df_vac_1 = df_vac[is_korea]

In [14]:
df_vac_1

,accumulatedFirstCnt,accumulatedSecondCnt,accumulatedThirdCnt,baseDate,firstCnt,id,secondCnt,sido,thirdCnt,totalFirstCnt,totalSecondCnt,totalThirdCnt
0,449535,0,0,2021-03-11 00:00:00,51100,1,0,전국,0,500635,0,0
18,503750,0,0,2021-03-12 00:00:00,42527,19,0,전국,0,546277,0,0
36,547974,0,0,2021-03-13 00:00:00,35684,37,0,전국,0,583658,0,0
54,584397,0,0,2021-03-14 00:00:00,3487,55,0,전국,0,587884,0,0
72,587884,0,0,2021-03-15 00:00:00,1074,73,0,전국,0,588958,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4308,41338564,38976091,230262,2021-11-05 00:00:00,60047,4309,123194,전국,44331,41398611,39099285,274593
4326,41401435,39102880,275103,2021-11-06 00:00:00,68878,4327,158244,전국,57095,41470313,39261124,332198
4344,41472586,39265311,332901,2021-11-07 00:00:00,45237,4345,62685,전국,22155,41517823,39327996,355056
4362,41517974,39328170,355080,2021-11-08 00:00:00,2160,4363,4320,전국,639,41520134,39332490,355719
4380,41522679,39335162,356399,2021-11-09 00:00:00,115687,4381,161647,전국,182281,41638366,39496809,538680

In [15]:
# totalFirstCnt(전체 누적 통계(1차 접종)) = accumulatedFirstCnt(전일까지의 누적 통계 (1차 접종)) + firstCnt(당일 통계(1차 접종)) 인데
# 왜 당일의 accumulatedFirstCnt != 전일의 totalFirstCnt가 같지 않을까 ... 
31710830 - 31709767

1063

In [16]:
# 당일 누적 1차 백신 접종자 수를 당일 일일 1차 백신 접종자 수로 변경
df_vac_1['daily_FirstCnt'] = df_vac_1['totalFirstCnt'].diff()

# 당일 누적 2차 백신 접종자당일 일일 2차 백신 접종자 수로 변경
df_vac_1['daily_SecondCnt'] = df_vac_1['totalSecondCnt'].diff()

# '1차 백신 접종자 수','누적 1차 백신 접종자 수','2차 백신 접종자 수','누적 2차 백신 접종자 수'
df_vac_2 = df_vac_1[['baseDate','daily_FirstCnt','totalFirstCnt','daily_SecondCnt','totalSecondCnt']]

# 날짜 형식 통일
import datetime

for i in range(len(df_vac_2)):
    df_vac_2.iloc[i,0] = datetime.datetime.strptime(df_vac_2.iloc[i,0], '%Y-%m-%d %H:%M:%S').strftime('%Y%m%d')

df_vac_2.columns = ['날짜','1차 백신 접종자 수','누적 1차 백신 접종자 수','2차 백신 접종자 수','누적 2차 백신 접종자 수']
df_vac_2

# 백신접종시작일인 21년 2월 27일 데이터부터 3월 11일까지의 데이터가 생략되어 있음. 후에 추가로 생성 예정

<ipython-input-16-1662f34d8c0d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac_1['daily_FirstCnt'] = df_vac_1['totalFirstCnt'].diff()
<ipython-input-16-1662f34d8c0d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac_1['daily_SecondCnt'] = df_vac_1['totalSecondCnt'].diff()
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

            날짜  1차 백신 접종자 수  누적 1차 백신 접종자 수  2차 백신 접종자 수  누적 2차 백신 접종자 수
0     20210311          NaN          500635          NaN               0
18    20210312      45642.0          546277          0.0               0
36    20210313      37381.0          583658          0.0               0
54    20210314       4226.0          587884          0.0               0
72    20210315       1074.0          588958          0.0               0
...        ...          ...             ...          ...             ...
4308  20211105      62314.0        41398611     125706.0        39099285
4326  20211106      71702.0        41470313     161839.0        39261124
4344  20211107      47510.0        41517823      66872.0        39327996
4362  20211108       2311.0        41520134       4494.0        39332490
4380  20211109     118232.0        41638366     164319.0        39496809

[244 rows x 5 columns]

In [17]:
# 한국 데이터의 누락부분 수정 코드
# 공공데이터포털의 오픈API에서 불러오는 데이터에 수정이 있을 경우 삭제 가능

vac_dat = pd.DataFrame({"날짜":['20210227','20210228','20210301','20210302','20210303','20210304','20210305','20210306','20210307',
                    '20210308','20210309','20210310','20210311'],
              "1차 백신 접종자 수":[18489, 1833, 855, 1909, 64342, 66993, 71432, 70527, 18276, 2209, 66481, 63595, 53694],
              "누적 1차 백신 접종자 수":[18489, 20322, 21177, 23086, 87428, 154421, 225853, 296380, 314656, 316865, 383346, 446941, 500635]})

df_vac_3 = pd.concat([vac_dat, df_vac_2.iloc[1:,]], ignore_index = True)

In [18]:
df_vac_3

           날짜  1차 백신 접종자 수  누적 1차 백신 접종자 수  2차 백신 접종자 수  누적 2차 백신 접종자 수
0    20210227      18489.0           18489          NaN             NaN
1    20210228       1833.0           20322          NaN             NaN
2    20210301        855.0           21177          NaN             NaN
3    20210302       1909.0           23086          NaN             NaN
4    20210303      64342.0           87428          NaN             NaN
..        ...          ...             ...          ...             ...
251  20211105      62314.0        41398611     125706.0      39099285.0
252  20211106      71702.0        41470313     161839.0      39261124.0
253  20211107      47510.0        41517823      66872.0      39327996.0
254  20211108       2311.0        41520134       4494.0      39332490.0
255  20211109     118232.0        41638366     164319.0      39496809.0

[256 rows x 5 columns]

In [19]:
import pandas as pd
from pandas import DataFrame
import datetime

# 대한민국 데이터 확진자수와 백신접종자 수 날짜를 기준으로 JOIN연산
data_kor = pd.merge(df_conf_2, df_vac_3, how = 'left',on='날짜')

for i in range(len(data_kor)):
    data_kor.iloc[i,0] = datetime.datetime.strptime(data_kor.iloc[i,0],'%Y%m%d').strftime('%Y-%m-%d')

data_kor

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수
0,2020-01-20,1,1,NaN,0,NaN,4,NaN,NaN,NaN,NaN
1,2020-01-21,0.0,1,0.0,0,11.0,15,NaN,NaN,NaN,NaN
2,2020-01-22,0.0,1,0.0,0,6.0,21,NaN,NaN,NaN,NaN
3,2020-01-23,0.0,1,0.0,0,4.0,25,NaN,NaN,NaN,NaN
4,2020-01-24,1.0,2,0.0,0,4.0,29,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
654,2021-11-05,2343.0,375463,20.0,2936,50436.0,16051668,62314.0,41398611.0,125706.0,39099285.0
655,2021-11-06,2247.0,377710,20.0,2956,47519.0,16099187,71702.0,41470313.0,161839.0,39261124.0
656,2021-11-07,2224.0,379934,11.0,2967,31686.0,16130873,47510.0,41517823.0,66872.0,39327996.0
657,2021-11-08,1758.0,381692,13.0,2980,29960.0,16160833,2311.0,41520134.0,4494.0,39332490.0
658,2021-11-09,1715.0,383407,18.0,2998,52040.0,16212873,118232.0,41638366.0,164319.0,39496809.0

In [20]:
# 현재 날짜에 맞춰 '2021년  N월 M주차_국내 코로나 확진자-백신접종자 현황'으로 저장하기
import datetime as dt
from datetime import datetime, timedelta

def get_date(y, m, d):
    s = f'{y:04d}-{m:02d}-{d:02d}'
    return datetime.strptime(s, '%Y-%m-%d')

def get_week_no(y, m, d):
    target = get_date(y, m, d)
    firstday = target.replace(day = 1)
    if firstday.weekday() == 6:
        origin = firstday
    elif firstday.weekday() < 3:
        origin = firstday - timedelta(days=firstday.weekday() + 1)
    else:
        origin = firstday + timedelta(days = 6-firstday.weekday())
    return (target - origin).days // 7 + 1

# wlsxwriter 라이브러리를 사용해 데이터를 시트별로 저장
import xlsxwriter
import datetime as dt

n = dt.datetime.now()
writer = pd.ExcelWriter('국내 코로나 확진자-백신접종자 현황_{}년 {}월 {}주차.xlsx'
                        .format(n.year, n.month, get_week_no(n.year, n.month, n.day)), 
                        engine = 'xlsxwriter')

data_kor.to_excel(writer, index = False, sheet_name = '대한민국')

writer.save()

- 질병관리청
- https://www.data.go.kr/data/15078166/openapi.do

- 	코로나19 예방접종 통계데이터 개방 설명자료.hwp 를 참고 하여 작성


- 보건복지부 접종자 수 질병관리청 접종자 수 비교해서 같으면 사용하기 


- 날짜 / 1차 백신 접종자 수 / 누적 1차 백신 접종자 수 / 2차 백신 접종자 수 / 누적 2차 백신 접종자 수

> tpcd         1회차(firstCnt)    2회차(secondCnt)
>
> 당일실적(A)
> 
> 전일누적(B)
> 
> 전체건수(C): (A)+(B)

In [26]:
import urllib.request
import json
import pandas as pd
from datetime import datetime,timedelta
import requests
import xmltodict


url = 'https://nip.kdca.go.kr/irgd/cov19stats.do?list=all'

req = requests.get(url).content
xmlObject = xmltodict.parse(req)

dict_data = xmlObject['response']['body']['items']['item']

df_conf = pd.DataFrame(dict_data)

df_conf

               tpcd  firstCnt secondCnt
0           당일실적(A)    231198    526133
1           전일누적(B)  38771229  24644127
2  전체건수(C): (A)+(B)  39002427  25170260