# 코로나 월별 감염자, 예방접종자 수 합 


- (코로나 발생 월)부터 (현재 월 - 1) 월별로 합을 구한다

- 년, 월로 나눈 후 groupby 년도, 월.sum()

- 국내 코로나 확진자-백신접종자 현황_2021년 9월 3주차.xlsx

- 수정 : 감염현황 api에서 5/31이 추가되어 해당 부분 수정

In [1]:
# 현재 날짜에 맞춰 '2021년  N월 M주차_주요 국가별 코로나 확진자-백신접종자 현황'으로 저장하기
import datetime as dt
from datetime import datetime, timedelta

def get_date(y, m, d):
    s = f'{y:04d}-{m:02d}-{d:02d}'
    return datetime.strptime(s, '%Y-%m-%d')

def get_week_no(y, m, d):
    target = get_date(y, m, d)
    firstday = target.replace(day = 1)
    if firstday.weekday() == 6:
        origin = firstday
    elif firstday.weekday() < 3:
        origin = firstday - timedelta(days=firstday.weekday() + 1)
    else:
        origin = firstday + timedelta(days = 6-firstday.weekday())
    return (target - origin).days // 7 + 1

n = dt.datetime.now()
s = '국내 코로나 확진자-백신접종자 현황_{}년 {}월 {}주차.xlsx'.format(n.year, n.month, get_week_no(n.year, n.month, n.day))

In [2]:
import pandas as pd
import openpyxl
import xlsxwriter

df = pd.read_excel(s, engine = 'openpyxl')
df

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수
0,2020-01-20,1,1,NaN,0,NaN,4,NaN,NaN,NaN,NaN
1,2020-01-21,0,1,0.0,0,11.0,15,NaN,NaN,NaN,NaN
2,2020-01-22,0,1,0.0,0,6.0,21,NaN,NaN,NaN,NaN
3,2020-01-23,0,1,0.0,0,4.0,25,NaN,NaN,NaN,NaN
4,2020-01-24,1,2,0.0,0,4.0,29,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
675,2021-11-26,3899,432897,39.0,3440,57273.0,17056008,49663.0,42419011.0,68627.0,40764548.0
676,2021-11-27,4067,436964,52.0,3492,59751.0,17115759,56890.0,42475901.0,87658.0,40852206.0
677,2021-11-28,3925,440889,56.0,3548,42781.0,17158540,34224.0,42510125.0,48718.0,40900924.0
678,2021-11-29,3309,444198,32.0,3580,41791.0,17200331,996.0,42511121.0,1829.0,40902753.0
679,2021-11-30,3032,447230,44.0,3624,64934.0,17265265,33561.0,42544682.0,108662.0,41011415.0

In [3]:
is_20210531 = df['날짜'] == '2021-05-31'
is_df = df[is_20210531]

is_df

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수
496,2021-05-31,430,140337,2.0,1959,13544.0,9761156,4839.0,5403854.0,92.0,2143385.0

In [4]:
# 변경 api 수정되면 다시 변경 > 수정되어 변경
# df = df.replace('2021-05-30', '2021-05-31')

In [5]:
is_20210531 = df['날짜'] == '2021-05-31'
is_df = df[is_20210531]

is_df

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수
496,2021-05-31,430,140337,2.0,1959,13544.0,9761156,4839.0,5403854.0,92.0,2143385.0

In [6]:
df[['년도', '월', '일']] = df['날짜'].str.split('-', n=2, expand=True)

In [7]:
# df 복사
df_copy1 = df.copy()
df_copy2 = df.copy()

In [8]:
df_copy1

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수,년도,월,일
0,2020-01-20,1,1,NaN,0,NaN,4,NaN,NaN,NaN,NaN,2020,01,20
1,2020-01-21,0,1,0.0,0,11.0,15,NaN,NaN,NaN,NaN,2020,01,21
2,2020-01-22,0,1,0.0,0,6.0,21,NaN,NaN,NaN,NaN,2020,01,22
3,2020-01-23,0,1,0.0,0,4.0,25,NaN,NaN,NaN,NaN,2020,01,23
4,2020-01-24,1,2,0.0,0,4.0,29,NaN,NaN,NaN,NaN,2020,01,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,2021-11-26,3899,432897,39.0,3440,57273.0,17056008,49663.0,42419011.0,68627.0,40764548.0,2021,11,26
676,2021-11-27,4067,436964,52.0,3492,59751.0,17115759,56890.0,42475901.0,87658.0,40852206.0,2021,11,27
677,2021-11-28,3925,440889,56.0,3548,42781.0,17158540,34224.0,42510125.0,48718.0,40900924.0,2021,11,28
678,2021-11-29,3309,444198,32.0,3580,41791.0,17200331,996.0,42511121.0,1829.0,40902753.0,2021,11,29
679,2021-11-30,3032,447230,44.0,3624,64934.0,17265265,33561.0,42544682.0,108662.0,41011415.0,2021,11,30

In [9]:
# 날짜 object -> datetime 타입으로 으로 변경
df_copy1['날짜'] = pd.to_datetime(df_copy1['날짜'])
# df의 첫번째 날짜와 마지막 날짜 선택
start_date = df_copy1.iloc[1, 0]
end_date = df_copy1.iloc[len(df)-1, 0]

In [10]:
# 매월 마지막 날짜만 추출
tmp = pd.date_range(start_date, end_date, freq='M')
date_df = pd.DataFrame(tmp, columns = ['날짜'])
date_df

           날짜
0  2020-01-31
1  2020-02-29
2  2020-03-31
3  2020-04-30
4  2020-05-31
5  2020-06-30
6  2020-07-31
7  2020-08-31
8  2020-09-30
9  2020-10-31
10 2020-11-30
11 2020-12-31
12 2021-01-31
13 2021-02-28
14 2021-03-31
15 2021-04-30
16 2021-05-31
17 2021-06-30
18 2021-07-31
19 2021-08-31
20 2021-09-30
21 2021-10-31
22 2021-11-30

In [11]:
# date_df['날짜'] == df_copy1['날짜'] 인것만 
df_copy1 = df_copy1[df_copy1['날짜'].isin(date_df['날짜'])]
df_copy1

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수,년도,월,일
11,2020-01-31,4,11,0.0,0,60.0,335,NaN,NaN,NaN,NaN,2020,01,31
40,2020-02-29,909,2931,3.0,16,14753.0,85693,NaN,NaN,NaN,NaN,2020,02,29
71,2020-03-31,125,9786,4.0,162,11662.0,410564,NaN,NaN,NaN,NaN,2020,03,31
101,2020-04-30,4,10765,1.0,247,5684.0,619881,NaN,NaN,NaN,NaN,2020,04,30
131,2020-05-31,27,11468,1.0,270,7921.0,910822,NaN,NaN,NaN,NaN,2020,05,31
161,2020-06-30,42,12799,0.0,282,13811.0,1273765,NaN,NaN,NaN,NaN,2020,06,30
192,2020-07-31,36,14305,1.0,301,7581.0,1563796,NaN,NaN,NaN,NaN,2020,07,31
223,2020-08-31,248,19946,1.0,324,13519.0,1937689,NaN,NaN,NaN,NaN,2020,08,31
253,2020-09-30,113,23811,6.0,413,9955.0,2322999,NaN,NaN,NaN,NaN,2020,09,30
284,2020-10-31,127,26511,1.0,464,12261.0,2624492,NaN,NaN,NaN,NaN,2020,10,31
314,2020-11-30,438,34199,3.0,526,14262.0,3061170,NaN,NaN,NaN,NaN,2020,11,30
345,2020-12-31,967,60726,21.0,900,54358.0,4213874,NaN,NaN,NaN,NaN,2020,12,31
376,2021-01-31,354,78197,6.0,1420,24290.0,5640817,NaN,NaN,NaN,NaN,2021,01,31
404,2021-02-28,355,89664,8.0,1603,21791.0,6649005,1833.0,20322.0,NaN,NaN,2021,02,28
435,2021-03-31,506,103079,2.0,1731,43801.0,7707798,29754.0,852202.0,2034.0,8185.0,2021,03,31
465,2021-04-30,661,122006,3.0,1828,42513.0,8848291,247210.0,3056004.0,30013.0,198734.0,2021,04,30
496,2021-05-31,430,140337,2.0,1959,13544.0,9761156,4839.0,5403854.0,92.0,2143385.0,2021,05,31
526,2021-06-30,794,156960,1.0,2018,23331.0,10579071,17134.0,15321254.0,147067.0,4905462.0,2021,06,30
557,2021-07-31,1538,198334,6.0,2095,45853.0,11728815,498620.0,19228321.0,69696.0,7131204.0,2021,07,31
588,2021-08-31,1370,251413,1.0,2285,45033.0,13094711,390063.0,29031142.0,599567.0,15218638.0,2021,08,31
618,2021-09-30,2561,311276,7.0,2481,58995.0,14544246,232561.0,39002427.0,527735.0,25170260.0,2021,09,30
649,2021-10-31,2061,364697,19.0,2849,28365.0,15804062,38341.0,41135997.0,369632.0,38660478.0,2021,10,31
679,2021-11-30,3032,447230,44.0,3624,64934.0,17265265,33561.0,42544682.0,108662.0,41011415.0,2021,11,30

In [12]:
"""
df_copy2["cust_max_date"] = df_copy2.groupby([df_copy2['년도'], df_copy2['월']])['일'].transform('max')
df_flt = df_copy2[df_copy2["일"] == df_copy2["cust_max_date"]]
df_flt
"""

'\ndf_copy2["cust_max_date"] = df_copy2.groupby([df_copy2[\'년도\'], df_copy2[\'월\']])[\'일\'].transform(\'max\')\ndf_flt = df_copy2[df_copy2["일"] == df_copy2["cust_max_date"]]\ndf_flt\n'

In [13]:
#특정컬럼선택
df_flt = pd.DataFrame(df_copy1, columns=['년도', '월', '일', '누적 확진자 수', '누적 1차 백신 접종자 수', '누적 2차 백신 접종자 수']) 
df_flt

       년도   월   일  누적 확진자 수  누적 1차 백신 접종자 수  누적 2차 백신 접종자 수
11   2020  01  31        11             NaN             NaN
40   2020  02  29      2931             NaN             NaN
71   2020  03  31      9786             NaN             NaN
101  2020  04  30     10765             NaN             NaN
131  2020  05  31     11468             NaN             NaN
161  2020  06  30     12799             NaN             NaN
192  2020  07  31     14305             NaN             NaN
223  2020  08  31     19946             NaN             NaN
253  2020  09  30     23811             NaN             NaN
284  2020  10  31     26511             NaN             NaN
314  2020  11  30     34199             NaN             NaN
345  2020  12  31     60726             NaN             NaN
376  2021  01  31     78197             NaN             NaN
404  2021  02  28     89664         20322.0             NaN
435  2021  03  31    103079        852202.0          8185.0
465  2021  04  30    122006       3056004.0        198734.0
496  2021  05  31    140337       5403854.0       2143385.0
526  2021  06  30    156960      15321254.0       4905462.0
557  2021  07  31    198334      19228321.0       7131204.0
588  2021  08  31    251413      29031142.0      15218638.0
618  2021  09  30    311276      39002427.0      25170260.0
649  2021  10  31    364697      41135997.0      38660478.0
679  2021  11  30    447230      42544682.0      41011415.0

In [14]:
df_copy2

,날짜,확진자 수,누적 확진자 수,사망자 수,누적 사망자 수,검사자 수,누적 검사자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수,년도,월,일
0,2020-01-20,1,1,NaN,0,NaN,4,NaN,NaN,NaN,NaN,2020,01,20
1,2020-01-21,0,1,0.0,0,11.0,15,NaN,NaN,NaN,NaN,2020,01,21
2,2020-01-22,0,1,0.0,0,6.0,21,NaN,NaN,NaN,NaN,2020,01,22
3,2020-01-23,0,1,0.0,0,4.0,25,NaN,NaN,NaN,NaN,2020,01,23
4,2020-01-24,1,2,0.0,0,4.0,29,NaN,NaN,NaN,NaN,2020,01,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,2021-11-26,3899,432897,39.0,3440,57273.0,17056008,49663.0,42419011.0,68627.0,40764548.0,2021,11,26
676,2021-11-27,4067,436964,52.0,3492,59751.0,17115759,56890.0,42475901.0,87658.0,40852206.0,2021,11,27
677,2021-11-28,3925,440889,56.0,3548,42781.0,17158540,34224.0,42510125.0,48718.0,40900924.0,2021,11,28
678,2021-11-29,3309,444198,32.0,3580,41791.0,17200331,996.0,42511121.0,1829.0,40902753.0,2021,11,29
679,2021-11-30,3032,447230,44.0,3624,64934.0,17265265,33561.0,42544682.0,108662.0,41011415.0,2021,11,30

In [15]:
#특정컬럼선택
df_copy2 = pd.DataFrame(df_copy2, columns=['년도', '월', '일', '확진자 수', '1차 백신 접종자 수', '2차 백신 접종자 수']) 

# 년도별, 월별 합계
grouped = df_copy2.groupby([df_copy2['년도'], df_copy2['월']]).sum()
grouped

         확진자 수  1차 백신 접종자 수  2차 백신 접종자 수
년도   월
2020 01     11          0.0          0.0
     02   2920          0.0          0.0
     03   6855          0.0          0.0
     04    979          0.0          0.0
     05    703          0.0          0.0
     06   1331          0.0          0.0
     07   1506          0.0          0.0
     08   5641          0.0          0.0
     09   3865          0.0          0.0
     10   2700          0.0          0.0
     11   7688          0.0          0.0
     12  26527          0.0          0.0
2021 01  17471          0.0          0.0
     02  11467      20322.0          0.0
     03  13415     831880.0       8185.0
     04  18927    2203802.0     190549.0
     05  18331    2347850.0    1944651.0
     06  16623    9917400.0    2762077.0
     07  41374    3907067.0    2225742.0
     08  53079    9802821.0    8087434.0
     09  59863    9971285.0    9951622.0
     10  53421    2133570.0   13490218.0
     11  82533    1408685.0    2350937.0

In [16]:
# 멀티 인덱스 -> 열로 변경
grouped.reset_index(inplace=True)
grouped

      년도   월  확진자 수  1차 백신 접종자 수  2차 백신 접종자 수
0   2020  01     11          0.0          0.0
1   2020  02   2920          0.0          0.0
2   2020  03   6855          0.0          0.0
3   2020  04    979          0.0          0.0
4   2020  05    703          0.0          0.0
5   2020  06   1331          0.0          0.0
6   2020  07   1506          0.0          0.0
7   2020  08   5641          0.0          0.0
8   2020  09   3865          0.0          0.0
9   2020  10   2700          0.0          0.0
10  2020  11   7688          0.0          0.0
11  2020  12  26527          0.0          0.0
12  2021  01  17471          0.0          0.0
13  2021  02  11467      20322.0          0.0
14  2021  03  13415     831880.0       8185.0
15  2021  04  18927    2203802.0     190549.0
16  2021  05  18331    2347850.0    1944651.0
17  2021  06  16623    9917400.0    2762077.0
18  2021  07  41374    3907067.0    2225742.0
19  2021  08  53079    9802821.0    8087434.0
20  2021  09  59863    9971285.0    9951622.0
21  2021  10  53421    2133570.0   13490218.0
22  2021  11  82533    1408685.0    2350937.0

In [17]:
# 두 df의 같은 열을 기준으로 inner join 
merge_inner = pd.merge(grouped, df_flt)
merge_inner

,년도,월,확진자 수,1차 백신 접종자 수,2차 백신 접종자 수,일,누적 확진자 수,누적 1차 백신 접종자 수,누적 2차 백신 접종자 수
0,2020,01,11,0.0,0.0,31,11,NaN,NaN
1,2020,02,2920,0.0,0.0,29,2931,NaN,NaN
2,2020,03,6855,0.0,0.0,31,9786,NaN,NaN
3,2020,04,979,0.0,0.0,30,10765,NaN,NaN
4,2020,05,703,0.0,0.0,31,11468,NaN,NaN
5,2020,06,1331,0.0,0.0,30,12799,NaN,NaN
6,2020,07,1506,0.0,0.0,31,14305,NaN,NaN
7,2020,08,5641,0.0,0.0,31,19946,NaN,NaN
8,2020,09,3865,0.0,0.0,30,23811,NaN,NaN
9,2020,10,2700,0.0,0.0,31,26511,NaN,NaN
10,2020,11,7688,0.0,0.0,30,34199,NaN,NaN
11,2020,12,26527,0.0,0.0,31,60726,NaN,NaN
12,2021,01,17471,0.0,0.0,31,78197,NaN,NaN
13,2021,02,11467,20322.0,0.0,28,89664,20322.0,NaN
14,2021,03,13415,831880.0,8185.0,31,103079,852202.0,8185.0
15,2021,04,18927,2203802.0,190549.0,30,122006,3056004.0,198734.0
16,2021,05,18331,2347850.0,1944651.0,31,140337,5403854.0,2143385.0
17,2021,06,16623,9917400.0,2762077.0,30,156960,15321254.0,4905462.0
18,2021,07,41374,3907067.0,2225742.0,31,198334,19228321.0,7131204.0
19,2021,08,53079,9802821.0,8087434.0,31,251413,29031142.0,15218638.0
20,2021,09,59863,9971285.0,9951622.0,30,311276,39002427.0,25170260.0
21,2021,10,53421,2133570.0,13490218.0,31,364697,41135997.0,38660478.0
22,2021,11,82533,1408685.0,2350937.0,30,447230,42544682.0,41011415.0

In [18]:
#특정컬럼 선택, 열 순서, 이름 변경
result_df = pd.DataFrame(merge_inner, columns=['년도', '월', '일', '확진자 수', '누적 확진자 수', '1차 백신 접종자 수', '누적 1차 백신 접종자 수', '2차 백신 접종자 수', '누적 2차 백신 접종자 수']) 
result_df

,년도,월,일,확진자 수,누적 확진자 수,1차 백신 접종자 수,누적 1차 백신 접종자 수,2차 백신 접종자 수,누적 2차 백신 접종자 수
0,2020,01,31,11,11,0.0,NaN,0.0,NaN
1,2020,02,29,2920,2931,0.0,NaN,0.0,NaN
2,2020,03,31,6855,9786,0.0,NaN,0.0,NaN
3,2020,04,30,979,10765,0.0,NaN,0.0,NaN
4,2020,05,31,703,11468,0.0,NaN,0.0,NaN
5,2020,06,30,1331,12799,0.0,NaN,0.0,NaN
6,2020,07,31,1506,14305,0.0,NaN,0.0,NaN
7,2020,08,31,5641,19946,0.0,NaN,0.0,NaN
8,2020,09,30,3865,23811,0.0,NaN,0.0,NaN
9,2020,10,31,2700,26511,0.0,NaN,0.0,NaN
10,2020,11,30,7688,34199,0.0,NaN,0.0,NaN
11,2020,12,31,26527,60726,0.0,NaN,0.0,NaN
12,2021,01,31,17471,78197,0.0,NaN,0.0,NaN
13,2021,02,28,11467,89664,20322.0,20322.0,0.0,NaN
14,2021,03,31,13415,103079,831880.0,852202.0,8185.0,8185.0
15,2021,04,30,18927,122006,2203802.0,3056004.0,190549.0,198734.0
16,2021,05,31,18331,140337,2347850.0,5403854.0,1944651.0,2143385.0
17,2021,06,30,16623,156960,9917400.0,15321254.0,2762077.0,4905462.0
18,2021,07,31,41374,198334,3907067.0,19228321.0,2225742.0,7131204.0
19,2021,08,31,53079,251413,9802821.0,29031142.0,8087434.0,15218638.0
20,2021,09,30,59863,311276,9971285.0,39002427.0,9951622.0,25170260.0
21,2021,10,31,53421,364697,2133570.0,41135997.0,13490218.0,38660478.0
22,2021,11,30,82533,447230,1408685.0,42544682.0,2350937.0,41011415.0

In [19]:
result_df['확진자 수'].sum()

447230

In [20]:
writer = pd.ExcelWriter('국내 코로나 확진자-백신접종자 월별 통계_{}년 {}월.xlsx'
                        .format(n.year, n.month, get_week_no(n.year, n.month-1, n.day)), 
                        engine = 'xlsxwriter')

result_df.to_excel(writer, index = False)

writer.save()